index.php
.editorconfig
system

application/cache
application/config/*
application/controllers/*
application/core
application/helpers
application/hooks
application/language
application/logs
application/migrations
application/models/*
application/views/*
application/.htaccess
application/index.html

!application/config/malas.php